
 <div class='row'>
   <div class='col-sm-3'>
     <nav class="navbar navbar-default leftnavbar" role="navigation">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand hashtraxbrand" ui-sref="home"><span class='traxheader traxbar'>HashTrax<span></a>
         </div>
         <div class="collapse navbar-collapse navbar-ex1-collapse">
           <ul class="nav navbar-nav">
             <li><a ui-sref="profile"><span class='glyphicon glyphicon-user traxbar'>Profile</span></a></li>
             <li><a ui-sref="dashboard"><span class='glyphicon glyphicon-dashboard traxbar'>Dashboard</span></a></li>
             <li><a ui-sref="register" ng-hide='hideRegister()'><span class='glyphicon glyphicon-plus traxbar'>Register</span></a></li>
             <li><a ui-sref="support"><span class='glyphicon glyphicon-list-alt traxbar'>Support</span></a></li>
           </ul>
         </div>
       </nav>
     </div>
     <div>
       <div class='twitterbox hidden-xs'>
         <div>
           <button class="btn btn-primary twittercollapse" data-toggle="collapse" data-target=".twitter-timeline">Tweet At Us</button>
         </div>
         <div>
         <a class="twitter-timeline" href="https://twitter.com/HashTraxApp" data-widget-id="621433549930020864">Tweets by @HashTraxApp</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
         if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
         fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
       </div>
     </div>
     </div>
   </div>